body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

h1, h2, h3, h4, h5 {
    font-weight: 200;
}

a {
    text-decoration: none;
    font-weight: 400;
}

#wrapper {
    width: 980px;
    margin: 0 auto;
}